* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #777;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}


/* Main section */

.home-column {
    float: left;
    width: 33.33%;
    padding: 5px;
    margin: auto;
    text-align: center;
   
  }
  
  /* Clearfix (clear floats) */
  .home-row::after {
    content: "";
    clear: both;
    display: table;
  }

  .home-caption {
    display: block;
    text-align: center;
    font-weight: bold;
  }

  .mini-home-caption {
    display: block;
    text-align: center;
    font-size: 14px;
  }



